@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DynaPuff&family=Raleway:wght@300&family=Roboto:wght@700&display=swap');

.logout {
    margin: 15px;
    position: relative;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    width: 98%;
}

.logout .icon {
    width: 33%;
    left: 6px;
    position: relative;
}
.logout .lgbtn{
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.lgbtn button, .regoffbtn{
    background-color: #072767;
    border-radius: 10px;
}
.lgbtn button:hover, .regoffbtn:hover{
    opacity: 1;
    background-color: #E1A700;

}

.logout h1{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.icon i {
    font-size: 25px;
    color: #072767;
}

.icon i:hover {
    color: #E1A700;
    cursor: pointer;
}

h1,h2,h3 {
    margin-left: 13px;
}
.reportCont{
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.report{
    text-align: center;
    background-image: url('./images/bg\ \(2\).jpg');
    color: #f2f2f2;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    width: 25%;
}
.report h3{
    font-family: 'Roboto', sans-serif;
}
#registerForm {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1111111;
    overflow: auto;
}

#registerForm .innercont {
    display: block;
    width: 31%;
    background-color: #f2f2f2;
    border-radius: 9px;
}

#registerForm .innercont .innerclose {
    border-bottom: 0.2rem solid rgb(206, 203, 203);
    padding: 20px 20px 3px 20px;
}

#registerForm .innercont .innerclose h2 {
    margin: 0;
}

#registerForm .innercont .innerclose span {
    float: right;
    cursor: pointer;
    padding: 3px;
    font-size: 32px;
    margin-right: 3px;
    position: relative;
    top: -16px;
}

#registerForm .innercont .innerclose span:hover {
    color: #E1A700;
}

#registerForm .innercont .mainform {
    padding: 4px 20px;
    font-size: 16px;
}

label {
    font-size: 17px;
}

select {
    font-size: 17px;
    padding: 3px;
}

input {
    border: none;
    border-bottom: 1px solid rgb(157, 155, 155);
    padding: 4px 7px;
    width: 100%;
    font-size: 16px;
    margin: 9px 0;
    background-color: #f2f2f2;
}

::placeholder {
    color: grey;
}

textarea {
    width: 100%;
}

input.invalid {
    background-color: #ffdddd;
}
table {
    width: 95%;
    margin: 15px;
  }
  th, td {
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #E1A700;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
  }
@media (max-width: 950px){
    #registerForm .innercont {
        width: 51%;
    }
}
@media (max-width: 600px){
    .logout{
        width: 108%;
        justify-content: space-around;
    }
    .logout .icon{
        width: 23%;
    }
    .logout .lgbtn{
        width: 28%;
    }
    .reportCont{
        margin-left: 77px;
    }
    .report{
        width: 65%;
    }
    .regoffbtn{
        position: relative;
        top: 37px;
        left: 15px;
    }
    table{
        position: relative;
        top: 37px;
    }
}
@media (max-width:500px) {
    .logout h1{
        width: 59%;
        font-size: 26px;
    }
    .logout{
        width: 127%;
    }
    .reportCont{
        margin-left: 122px;
    }
    .report{
        width: 86%;
    }
    #registerForm .innercont {
        width: 69%;
    }
}
@media (max-width:400px) {
    .logout h1{
        width: 59%;
        font-size: 26px;
    }
    .logout{
        width: 155%;
    }
    .reportCont{
        margin-left: 75px;
        position: relative;
        left: 64px;
    }
    .report{
        width: 100%;
    }
}
@media (max-width:300px) {
    .logout{
        width: 205%;
    }
    .reportCont{
        margin-left: 0;
        position: relative;
        left: 162px;
    }
    #registerForm .innercont {
        width: 80%;
    }
}
@media (max-width:250px) {
    .logout{
        width: 266%;
    }
}
@media (max-width:200px) {
    .logout{
        width: 340%;
    }
}