@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DynaPuff&family=Raleway:wght@300&family=Roboto:wght@700&display=swap');

body {
  background-color: #c5c5be;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url('./images/bg\ \(2\).jpg');
  font-family: Raleway;
  width: 400px;
  padding: 40px;
  padding-top: 34px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  #login {
    width: 300px;
    padding: 30px;
  }
}

@media screen and (max-width: 330px) {
  #login {
    width: 250px;
    padding: 30px;
  }
}

h2 {
  color: white;
  display: flex;
  /* font-size: 44px; */
  justify-content: center;
  text-align: center;
  margin: 0;
  margin-bottom: 34px;
}

h2,
p,
h3 {
  color: white;
}



input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-family: Raleway;
}

.input_login {
  position: relative;
}

.input_login label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input_login input:focus~label,
.input_login input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form button {
  border: none;
  background: transparent;
}

button:hover {
  opacity: 1;
  color: #ffffff;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

@media screen and (max-width: 330px) {
  .login-box form a {
    margin-top: 30px;
  }
}

.login-box a:hover {
  background: #E1A700;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #E1A700,
    0 0 25px #E1A700,
    0 0 50px #E1A700,
    0 0 100px #E1A700;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #E1A700);
  animation: btn-anim1 2s linear infinite;
}